h1,h2, h3,h4,h5,h6,p{
    margin:0;
}
ul, ol{
    margin:0;
    padding: 0;
}
img{
    display: block;
}
*,::after,::before{
    box-sizing: border-box;
}
.container{
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
/* outline: 2px solid red; */
}

:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --primary-licht-color: #FFFFFF;
    --primary-background-color: #4D5AE5;
    --active-buttons-background: #404BBF;
    --main-line-height: 1.33;
}
body{
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

/* -------------------------------------HEADER---------------------------------------------- */
.logo{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
} 
.web{
    color: #4D5AE5;
}
.top{
    line-height: var(--main-line-height);
}
.studio{
    color: var(--title-text-color);
}

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #b0d2fa ;

}
.list{
    list-style: none;  
}
 .site-nav .link {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

.contakt-phone, .contakt-mail {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contakt-mail {
    margin-left: 15px;
}
.contakt-phone{
margin-right: 40px;
}
.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;
    align-items: center;
}
.contakt-nav{
    display: flex;
    align-items: center;
  
}
.item:not(:last-child){
    margin-right: 40px;
}
/* ------------------------------------------------------HERO------------------------------------------------------ */
.hero-title{
    color: var(--primary-licht-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    min-width: 492px;
    margin: auto;
    }
.hero{
    background-color: #2E2F42;

}
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.button-main{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-background-color);
    color: var(--primary-licht-color);
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 170px;
    padding: 16px 32px;
    display: block;
    margin:auto;
   
}
.button-main:hover,
.button-main:focus {
      background-color: var(--active-buttons-background);
}

.features-title, .person, .item{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.visual-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ------------------------------------------------------features--------------------------------- */
.section-features{
    padding-top: 120px;
    padding-bottom: 120px;
}
.features{
    display: flex;
}
.features-menu:not(:last-child){
    margin-right: 24px;
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -----------------------------------------------------Наша робота------------------------------- */
.section-work{
    padding-bottom: 120px;
}
.work{
    display: flex;
    gap: 24px;
    width: calc((100%-48px)/3);
}
/* ----------------------------------------------------Наша команда---------------------------------- */
.section-team{
    background-color:#F4F4FD; 
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-menu{
    display: flex;
    gap: 24px;
    width:calc((100%-72px)/4);
}


/* -----------------------------------Footter--------------------------------------------------- */
.footer {
    background-color: #2E2F42;
}
.down{
line-height: 1.16;
}
.licht{
    color: #F4F4FD;
    line-height: 1.16;
}
.footers {
color: #E7E9FC;
}
/* ---------------------------------------PORTFOLIO------------------------------------------------ */
.buttons-list{
    display: flex;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 72px;
}
.buttons-menu:not(:last-child){
    margin-right: 24px;
}
.buttons-portfolio{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: #F4F4FD;;
    color:var(--primary-background-color);
    border-color: transparent;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
}

.buttons-portfolio:hover,
.buttons-portfolio:focus {
      background-color: var(--active-buttons-background);
      color: var(--primary-licht-color);
}









